.faq-wrapper {
    background-color: #FFF8D9;
    min-height: 100vh;
    padding: 100px 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'LINE Seed Sans KR';
  }
  
  .faq-header {
    width: 100%;
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .faq-title {
    font-size: 24px;
    font-weight: bold;
    color: #6E6E6E;
    align-self: flex-start;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 4px 10px;
    background-color: white;
  }
  
  .search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 140px;
    background-color: transparent;
  }
  
  .search-box img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
  }
  
  .faq-box {
    width: 90%;
    max-width: 800px;
    background: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    cursor: pointer;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: #6E6E6E;
    align-items: center;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #6E6E6E;
    line-height: 1.6;
  }
  
  .arrow-icon {
    width: 10.5px;
    transition: transform 0.01s;
  }
  
  .arrow-icon.rotated {
    transform: rotate(180deg);
  }
  
  .faq-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0 10px;
  }
  
  .faq-page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #03AED2;
    background-color: white;
    color: #03AED2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .faq-page-btn.active {
    background-color: #00bcd4;
    color: white;
  }
  
  .faq-inquiry-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .faq-inquiry-btn {
    background-color: #68d2e8;
    color: white;
    font-weight: bold;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 3px 0 #00bcd4;
    cursor: pointer;
  }
  